
/*head image
-------------------------------------------------- */

.laptop-header, .wichase-header, .natureHeat-header, .littleSheep-header, .invilo-header
{
	background-image: url('../img/laptop-head.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 100%;
	height: 500px;
	margin: 0;
}

.wichase-header{
	background-image: url('../img/witchase-head.jpg');
}
.natureHeat-header{
	background-image: url('../img/natureHeat-head.jpg');
}

.invilo-header{
	background-image: url('../img/invilo-head.jpg');
}
.littleSheep-header{
	background-image: url('../img/littleSheep-head.jpg');
}


/*proj detail
-------------------------------------------------- */
.text {
	margin: 30px 20px 0 30px;
	color: #043447;
}

.text div{
	font-size: 14px;
	color: #245497;
}
blockquote{
	font-size: 14px;
}

.inlivoImage{
	margin-top: 5%;
	/*margin-bottom: -5%;*/
}