body {
    color: #2E4656; 
	background-color: #F3F6F4;
	font-size: 16px;
	font-family: 'Quicksand';
}

header{
	background: #2E4656; 
	color: #fff;
	padding: 2% 5% 2% 5%;
}
.logo{
	width:50px;
	vertical-align: text-bottom;
  }
.head{
  	width:100%;
	padding: 0 5% 5% 5%;
	background: #2E4656; 
  }

 .headbgImage{
	background-image:url("assets/images/head.jpeg");
	height: 450px;
  width: 100%; 
	background-repeat: no-repeat;
	background-size: cover;
  }

  .row{
  	margin-left: 0;
  	margin-right: 0;
  }

  .headbox{

	color: #fff;

	font-size: calc(15pt + 20 * (100vw / 1440));
	line-height: calc(15pt + 10 * (100vw / 1440));
	width:28%;
	min-width: 240px;
	margin-left: 5%;
	margin-bottom: 25px;
	padding: 20px;
	font-weight: bolder;
  }


.wrap{
	position: relative;
	width: 99%;
	margin: auto;
	padding-top: 150px;
	height: 1000px;
	/* problem here current quick fixed*/
}
  .line{
	width: 90%;
	position: absolute;
	z-index: 8;
  }
  .content{
	  font-weight: 100;
	  margin-top:18%;
	  text-align: left;
  }
  
  .overlay {
	z-index: -1;
	margin-top: 20%;
	margin-left: -3%;
  }
  .overlayMobile{
	z-index: -1;
	margin-top: 70%;
  }

  .lower{
	z-index: 9;
	margin-top: 23%;
	opacity: 0.86;
  }

  .subTitleBoxMoblie{
	background-color: #F3F6F4;
	opacity:0.8;
	font-size: 28px;
/*	width: 15%;*/
	max-width:360px ;
	height: 50px;
	margin: 3%;
	margin-left: 14%;
	text-align: right;
	z-index: 9;
  }

  .subTitleBox{
	background-color: #F3F6F4;
	opacity:0.8;
	font-size: 28px;
	width: 320px;
	height: 60px;
	text-align: right;
	margin-top: 30%;
	z-index: 9;
  }

  .shopBox{
	background-color: #F3F6F4;
	opacity:0.8;
	font-size: 20px;
	width: 320px;
	height: 125px;
	margin-bottom: 25px;
	padding: 25px;
	font-weight: lighter;
  }

  .shop{
	font-weight: 900;
	margin-top: 5%;
  } 
  
 .shopBox a:link, shop a:visited{
	
	color: #2E4656;
	font-weight: bolder;
  } 

  .shop a:link, .shop a:visited{
	
	color: #2E4656;
	font-weight: bolder;
  }

  .subTitle{
	font-size: 28px;
	text-align: center;
  }
  .subTitleWhite{
	font-size: 28px;
	text-align: left;
	font-weight: lighter;
	margin-top: 20%;
	height: 120px;
	border-left: 6px solid white;
  }

  .display{
	width:450px;
	height:450px;
  }

  .itemDisplay{
	background-repeat: no-repeat;
	background-size: cover;
	width:425px;
	height:450px;
	margin: 2% 25px 2% 25px;
  }
  .caseDisplay{
	background-image:url("assets/images/phoneCase.png");
	height: 450px;
    width: 900px; 
	margin: 2% 25px 2% 25px;
	background-repeat: no-repeat;
	background-size: cover;
  }
	span{
		font-size: 22px;
		color: #fff;
	}
	.up{
		width: 12%;
		margin: auto;
		display: flex;
		animation-name: up;
		animation-duration: 3s;
		animation-iteration-count: infinite;
	}

	  @keyframes up {
		0%   { 
		  opacity: 0; 
		  transform: translateY(100%);
		  }
		100%   { 
		  opacity: 1; 
		  transform: translateY(0%);
		}
	  }


	.allCap{
		text-transform: uppercase;
	}
	
	.center{	
		display: flex;
		justify-content: center;
		text-align:center;
	}
	.centerAlign{
		text-align: center;
		position: relative;
		margin-right: auto;
		margin-left: auto;
	}
  .darkBg{
	width: 100%;
	color: #F3F6F4;
	background-color:#2E4656;
	padding: 8% 5% 8% 5%;
  }
  .lightBg{
	width: 100%;
	background-color: #F3F6F4;
	color:#2E4656;
	padding: 150px 5% 2% 5%;
  }

  .animated-gif{
    height: 120px;
    width: 200px;
	margin: 25% 0 15% 0;
}
  img{
	max-width: 100%;
    max-height: 100%;
  }

  .littleSub{
	font-size: 20px;
	margin-bottom: 5%;
	font-weight: bolder;
  }

  .subTitleNoBg{
	font-size: 28px;
	text-align: center;
	font-weight: 100 !important;
  }

  .title{
	font-size: 40px;
	text-align: center;
	font-weight:bolder;
  }

  .bgImage{

	margin-top: 5%;
	background-image: url("assets/images/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	color:#F3F6F4;
	padding: 150px 5% 8% 5%;
  }

  .footer-container {
	background-color:#2E4656;
	width: auto;
	padding: 0 15px;
  }
  
  .centerLogo{
	width: 15%;
	margin: 5% 0 5% 0;
  }
  .inlineA a:link, a:visited{
	color: white;
	font-size: 22px;
  }
  .footer{
	color: white;
  }
  .footer a:link, a:visited{
	color: white;
 	background-color: transparent;
  	text-decoration: none;
  }